body {
    font-family: 'Exo 2', sans-serif;
    background-color: pink;
}
ul {

    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    list-style: none;
    float: left;
    width: 33.3%;
    text-align: center;
}

#li_hearts {
    float: right;
}

#buttonSpace{
    text-align: center;
}
#div_title,
#div_lives,
#div_score {
    margin-top: 2%;
    width: 100%;
    padding: 0;
}

#score {
    font-size: 2em;
}

#div_hearts{
    text-align: center;
}
#div_answer {
    text-align: center;
    font-family: Roboto, sans-serif;
}
#div_restart {
    text-align: center;
}
.heartImage {
    width: 5%;
}

#resetButton {
    padding: 16px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: white;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: hotpink;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

#resetButton:hover {
    background-color: hotpink;
    color: white;
    cursor: pointer;
}

/* POPUP CSS */
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}
.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Roboto, sans-serif;
    text-align: center;
    font-weight: bold;
}
.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {
    color: pink;
}

.popup .play_btn {
    background-color: pink;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    padding: 15px 20px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
}

.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
	background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
	background-color:#f9f9f9;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:10px 15px;
	text-decoration:none;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
	background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
	background-color:#e9e9e9;
}
.myButton:active {
	position:relative;
	top:1px;
}

.myButton.disabled {
    background-color: black;
}
